@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#hero {
  background-image: url('../img/Tesla-9.2+poklon-tablet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#smartphone-btn {
  border: solid rgba(0, 0, 0, 0.3) 1px;
  background-color: #fd8700;
  color: #fff;
  padding: 1rem 2rem;
  font-weight: bold;
}

#giveaway {
  background-color: #000139;
}

#send {
  background-color: #fd8700;
  border: none;
  color: #fff;
  padding: 0.75rem 3rem;
  font-weight: 300;
}

#date, #imei, #email, #comment {
  color: #fff;
  width: 100%;
  background-color: #01025e;
  border: none;
  margin: 1rem 1rem 1rem 0;
  padding: 0.8rem;
  border-radius: 2px;
  font-weight: 300;
}

#imei-img {
  position: absolute;
  color: #fff;
  top: 28px;
  right: 40px;
}

#imei-img img {
  margin-top: -4px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

#help {
  color: #5260f5;
}
/* Tooltip body */
#imei-img #tooltiptext {
  visibility: hidden;
  width: 200px;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
}
/* Tooltip Arrow Top */
#imei-img #tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 33%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
}

#imei-img:hover #tooltiptext {
  visibility: visible;
}

.hero-header {
  font-weight: 900;
}

.giveaway-header {
  text-align: center;
  color: #fff;
  margin: 5rem 0 1.5rem;
  font-weight: bold;
}

.giveaway-header::after {
  content: "";
  position: absolute;
  width: 6%;
  height: 1px;
  bottom: 0;
  left: 47%;
  border-bottom: 4px solid #5260f5;
}

.giveaway-enter {
  text-align: center;
  margin-top: 4rem;
}

::placeholder {
  color: #fff;
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  resize: none;
}

.g-recaptcha > div{
    margin-left: auto;
    margin-top: 73px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #fff;
    margin-right: 0.5em;
  }

.optimized h1{
    text-align: left;
    line-height: 52px;
    letter-spacing: -2px;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    margin: 2rem 0;
}
.optimized h2 {
    font-weight: 300;
}
.screen, .performance {
  background-color: #1326a3;
  color: #fff;
  padding-top: 6rem;
}
.screen h1, .performance h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 900;
}
.screen p, .performance p {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10rem;
  padding: 0 1rem;
}
.performance {
  background-color:  #00052f;
  padding-bottom: 8rem;
}
.performance h4 {
  font-weight: 700;
  margin-bottom: 3rem;
}
#daring {
    color: rgb(57, 163, 255);
}

input[type="date"]:focus:before {
    content: "" !important;
}

input[type=date]::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: #fff !important;
}

.stats {
    background-color: #000139;
    color: #fff;
}
.specs {
    margin: 0 3rem;
}
.specs p {
    margin: 0;
}
.specs div {
    border: 2px solid #00aeff;
    margin: 1rem;
    padding: 1.5rem;
}
.specs img {
    margin-bottom: 1.5rem;
}
.specs:nth-child(1) {
    padding-top: 6rem;
}
.specs:nth-child(2) {
    padding-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .g-recaptcha > div{
    margin: 0 auto;
}
    #imei-img #tooltiptext {
        margin-left: -150px;
    }
    #imei-img #tooltiptext::after {
        left: 57%;
    }
  .giveaway-header::after {
    content: "";
    position: absolute;
    width: 12%;
    height: 1px;
    bottom: 0;
    left: 44%;
    border-bottom: 4px solid #5260f5;
  }
}